{% extends 'base.html' %}

{% block title %}{{ block.super }} | Note{% endblock %}

{% block content %}

{% block form %}
<form class="note_form" action="/note/create" method="POST">
	<textarea id="content_area" name="content" class="auto-focus"></textarea>
	<input type="submit" value="记上一笔" />
</form>
{% endblock %}

<div class="note_column">
    <ul class="messages">
    {% for note in notes %}
        <li class="note" id="{{ note.id }}" timestamp="{{ note.modified }}">
            <blockquote class="content">{{ note.content }}</blockquote>
            <div class="extra_info">
                <span class="time">{{ note.modified|date:"n月j日 G:s" }}</span>
                <div class="action">
                    <a class="edit" href="/note/modify">修改</a>
                    <a class="del" href="/note/remove">删除</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
<li class="note hidden" id="note_template">
    <p class="content"></p>
    <div class="extra_info">
        <span class="time"></span>
        <div class="action">
            <a class="edit" href="/note/modify">修改</a>
            <a class="del" href="/note/remove">删除</a>
        </div>
    </div>
</li>
{% endblock %}

{% block script_block %}
{{ block.super }}
<script src="/static/scripts/jquery.hotkeys-0.7.9.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
function updateNoteItem(elm, note) {
    elm.attr('id', note.id);
    elm.find('.content').html(note.content);
    elm.find('.time').text(note.modified);
    if (note.timestamp) {
        elm.attr('timestamp', note.timestamp);    
    }
}

$(document).ready(function(){
    $(window).scroll(function(){
        var lowestTop = $(document).height() - $(window).height();
        if ($(window).scrollTop() == lowestTop) {
            var last_node = $('.messages .note:last');
            var timestamp = last_node.attr('timestamp');
            $.getJSON('/note/list', {timestamp: timestamp}, function(notes){
                if (notes) {
                    var note_template = $("#note_template");
                    $.each(notes, function(i){
                        var note = this;
                        var note_elm = note_template.clone();
                        updateNoteItem(note_elm, note);
                        last_node.after(note_elm);
                        last_node = note_elm;
                        note_elm.fadeIn("slow");
                    }); //each
                } //if
            }); //post
        } //if
    });

    $('form').bind('keydown', 'ctrl+return', function(){
        var data = $(this).serialize();
        var textarea = $(this).find('textarea');
        $.post($(this).attr('action'), data, function(notes){
            if (notes) {
                var note_template = $("#note_template");
                var msg_ul = $(".messages");
                $.each(notes, function(i){
                    var note = this;
                    var note_elm = note_template.clone();
                    updateNoteItem(note_elm, note);
                    msg_ul.prepend(note_elm);
                    note_elm.fadeIn("slow");
                });
                textarea.val('');
            }
        }, 'json');
    }).find('input:submit').remove();

    $(".action a.del").live('click', function(){
        var rm_url = $(this).attr('href');
        if (rm_url) {
            var note_wrapper = $(this).closest('.note');
            var note_id = note_wrapper.attr('id');
            $.post(
                rm_url,
                {note_id: note_id},
                function(success){
                    if (success) {
                        note_wrapper.remove();
                    }
                },
                'json'
            );
        }
        return false;
    });

    /*
    $(".note").live('mouseover mouseout',
        function(event) {
            if (event.type == 'mouseover') {
                $(this).find('.extra_info').show();    
            }
            else {
                $(this).find('.extra_info').hide();
            }
        }
    );
    */
});
</script>
{% endblock %}
