{% extends 'base.html' %}

{% block title %}{{ block.super }} | Note{% endblock %}

{% block style_block %}
{{ block.super }}
<style type="text/css">
.counter { display:block; }
.exceeded { color: red; }
</style>
{% endblock %}

{% block content %}

{% block form %}
<form action="/note/create" method="POST">
	<textarea class="note_form" id="content_area" name="content" class="auto-focus"></textarea>
    <p>按Ctrl+Enter发送微记</p>
	<input type="submit" value="记上一笔" />
</form>
{% endblock %}

<div class="note_column">
    <ul class="messages">
    {% for note in notes %}
        {% include "note/note_snippet.html" %}
    {% endfor %}
    </ul>
</div>
{% include "note/note_snippet.html" %}
{% endblock %}

{% block script_block %}
{{ block.super }}
<script src="/static/scripts/jquery.hotkeys-0.7.9.min.js"
        type="text/javascript"></script>
<script src="/static/scripts/charCount.js"
        type="text/javascript"></script>
<script src="/static/scripts/urotas.note.js"
        type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    loadOnScroll();

    $("#content_area").charCount({
        allowed: 128, 
        counterText: '您还可以输入'
    });

    $('form').bind('keydown', 'ctrl+return', function(){
        var data = $(this).serialize();
        var textarea = $(this).find('textarea');
        $.post($(this).attr('action'), data, function(notes){
            if (notes) {
                var note_template = $("#note_template");
                var msg_ul = $(".messages");
                $.each(notes, function(i){
                    var note = this;
                    var note_elm = note_template.clone();
                    updateNoteItem(note_elm, note);
                    msg_ul.prepend(note_elm);
                    note_elm.fadeIn("slow");
                });
                textarea.val('');
            }
        }, 'json');
    }).find('input:submit').remove();

    makeNoteDeletable();
});
</script>
{% endblock %}
